.section_gallery{
    display: flex;
    justify-content: center
}

.gallery{
    width: 950px;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    height: 10vh;
}

.gallery_row{
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-bottom: 15px;
}

.gallery_pictures{
    position: relative;
    height: 250px;
    width: 450px;
    transition: width 0.25s, height 0.25s, filter 0.15s;
}

.overlay{
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 50px;
    display: grid;
    justify-content: center;
    align-content: center;
    bottom: 20px;
}

.overlay_icon{
    transform: rotate(45deg);
    width: 40px;
    height: 40px;
    border: 3px solid white;
    filter: drop-shadow(3px 3px 0 brown) drop-shadow(-3px -3px 0 brown);
    background-color: brown;

}

@media (min-width: 900px) {
    .gallery:hover .gallery_pictures:hover{
        width: 760px;
    }

    .gallery:hover .gallery_row:hover .gallery_pictures:not(:hover){
        filter: grayscale(0.8) brightness(0.7);

    }

    .gallery:hover .gallery_pictures:not(:hover){
        filter: grayscale(0.9) brightness(0.6) blur(1);
    }
}

@media (max-width: 900px) {
    .gallery{
        width: 100%;
    }
    .gallery_row{
        flex-wrap: wrap;
    }
    .gallery_pictures{
        width: 33.33%;
    }
}