.section_gallery{
    display: flex;
    justify-content: center
}

.gallery{
    width: 950px;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    height: 10vh;
}

.gallery_row{
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-bottom: 15px;
}

.gallery_pictures{
    position: relative;
    height: 250px;
    width: 450px;
    transition: width 0.25s, height 0.25s, filter 0.15s;
}

.overlay{
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 50px;
    display: grid;
    justify-content: center;
    align-content: center;
    bottom: 20px;
    filter: drop-shadow(0 2px 1px #0000008a);
    opacity: 0;

    transform: translateY(-50px) scale(2);
    pointer-events: none;
}

.overlay_tape{
    display: none;
    pointer-events: none;
    user-select: none;
}

.overlay_name{
    overflow: hidden;
    height: 25px;
    position: absolute;
    z-index: 1;
    bottom: 10px;
    left: 25px;
    transition: width 1.3s ;
    transition-delay: 0.1s;
    color: black;
    opacity: 0;

    width: 0;
}

.overlay_name p{
    overflow: hidden;
    font-size: 17px;
    font-family: monospace;
    width: 300px;
}

@media (min-width: 900px) {

    .overlay_tape{
        display: block;
    }

    .gallery:hover .gallery_pictures:hover .overlay .overlay_name{
        width: 100%;
        opacity: 1;
    }

    .gallery:hover .gallery_pictures:not(:hover) .overlay .overlay_name{
        width: 0;
        opacity: 0;
    }

    .gallery:hover .gallery_pictures:hover .overlay{
        opacity: 1;
        transition: transform 0.3s, opacity 0.25s;
        transform: translateY(1) scale(1);
    }

    .gallery:hover .gallery_pictures:hover{
        width: 760px;
        filter: none;
    }

    .gallery:hover .gallery_row:hover .gallery_pictures:not(:hover){
        filter: grayscale(0.8) brightness(0.7);

    }

    .gallery:hover .gallery_pictures:not(:hover){
        filter: grayscale(0.9) brightness(0.6) blur(1);
    }
}

@media (max-width: 900px) {
    .gallery{
        width: 100%;
    }
    .gallery_row{
        flex-wrap: wrap;
    }
    .gallery_pictures{
        width: 33.33%;
    }
}