:root{
  --first-color:#da1f1f;
  --first-color-darker:#8E0F0F;
  --second-color:#e7b8b8;
}

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --background: #0a0a0a;
  --background-image: linear-gradient(90deg,rgba(0, 0, 0, 0.6) 0%, rgba(255, 255, 255, 0) 25%, rgba(255, 255, 255, 0) 75%, rgba(0, 0, 0, 0.6) 100%), url("/assets/background/paper.webp");
  --foreground: #ededed;
}

h1{
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
}

/*
@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}



@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}
*/

body {
  background: var(--background);
  background-image: var(--background-image);
  background-size: 100% 50vh;
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

html, body{
  width: 100%;
}