@import "tailwindcss";

:root{
  --first-color:#d80909;
  --second-color:#51c43a;
}

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --background: #0a0a0a;
  --background-image: linear-gradient(90deg,rgba(0, 0, 0, 0.6) 0%, rgba(255, 255, 255, 0) 25%, rgba(255, 255, 255, 0) 75%, rgba(0, 0, 0, 0.6) 100%), url("/assets/background/paper.webp");
  --foreground: #ededed;
}

/*
@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}



@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}
*/

body {
  background: var(--background);
  background-image: var(--background-image);
  background-size: 100% 40%;
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
