.section_gallery{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px 30px 150px 30px;
    background-image: linear-gradient(90deg,#00000099 0%, #ffffff00 15%, #ffffff00 85%, #00000099 100%), url("/assets/background/graph_paper.webp");
    overflow-x: hidden;
}

.gallery{
    width: 950px;
    height: 100%;
    padding: 0 30px;

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
}

.gallery_title{
    width: 350px;
    margin-bottom: 50px;
}

.gallery_artwork_container{
    background-color: #eeeeee;
    padding: 12px;
    padding-bottom: 50px;
    user-select: none;
    filter: drop-shadow(0 2px 2px #0000008a);
    transition: transform 0.25s, filter 0.25s;
}

.gallery_artwork_container::after{
    position: absolute;
    content: "";
    background-image: url("/assets/gallery/tape_1.webp");
    background-size: 100% 100%;
    width: 15%;
    height: 50px;
    top: 0;
    left: 50%;
    transform: translate(-50%,-38%) rotate(13deg);
    opacity: 1;
    transition: transform 0.25s, opacity 0.25s ease-out;
}

.gallery_artwork{
    position: relative;
    aspect-ratio: 1;
    border: 2px solid #d3d3d3;
}







.overlay{
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 50px;
    display: grid;
    justify-content: center;
    align-content: center;
    bottom: 20px;
    filter: drop-shadow(0 2px 1px #0000008a);
    opacity: 0;

    transform: translateY(-50px) scale(2);
    pointer-events: none;
}

.overlay_tape{
    display: none;
    pointer-events: none;
    user-select: none;
}

.overlay_name{
    overflow: hidden;
    height: 25px;
    position: absolute;
    z-index: 1;
    bottom: 10px;
    left: 25px;
    transition: width 1.3s ;
    transition-delay: 0.1s;
    color: black;
    opacity: 0;

    width: 0;
}

.overlay_name p{
    overflow: hidden;
    font-size: 17px;
    font-family: monospace;
    width: 300px;
}

@media (min-width: 900px) {

    .overlay_tape{
        display: block;
    }

    .gallery:hover .gallery_artwork_container:hover .overlay .overlay_name{
        width: 100%;
        opacity: 1;
    }

    .gallery:hover .gallery_artwork_container:not(:hover) .overlay .overlay_name{
        width: 0;
        opacity: 0;
    }

    .gallery:hover .gallery_artwork_container:hover .overlay{
        opacity: 1;
        transition: transform 0.3s, opacity 0.25s;
        transform: translateY(45px) scale(1);
    }

    .gallery:hover .gallery_artwork_container:hover{
        transform: translateY(-5%) scale(1.20);
        filter: drop-shadow(0 6px 5px #0000008a);
        z-index: 10;
    }

    .gallery:hover .gallery_artwork_container:not(:hover){
        filter: grayscale(0.8) brightness(0.7) blur(1) drop-shadow(0 2px 2px #0000008a);
        z-index: 1;
    }

    .gallery:hover .gallery_artwork_container:hover:after{
        transform: translate(-50%,-100%) scale(1.3);
        opacity: 0;
    }
}

@media (max-width: 900px) {
    .gallery{
    width: 100%;
    height: 100%;
    padding: 0 20px;
    grid-template-columns: repeat(3, 1fr);
    gap: 35px 20px;
    }
    .gallery_artwork_container{
        padding: 7px;
        padding-bottom: 35px;
    }
}

@media (max-width: 700px) {
    .gallery{
        padding: 0 10px;
        grid-template-columns: repeat(2, 1fr);
    }
    .gallery_artwork_container{
        padding: 6px;
        padding-bottom: 30px;
    }

}