.section_landing{
    display: flex;
    justify-content: center;
    width: 100%;
    overflow: hidden;
}

.landing{
    height: 100vh;
    max-width: 1200px;
    display: flex;
    flex-direction: column;


    justify-content: space-between;
    align-items: center;
    align-content: center;
}

.title_landing{
    position: absolute;
    top: 60vh;
    z-index: 8;
    display: flex;
    flex-direction: row;
    margin: 40px 0;
}

.title_landing_space, .title_landing_word{
    width: 60px;
    height: 80px;
}

.title_landing_word{
    margin: 0 5px;
    background-color: var(--first-color);
    display: flex;
    justify-content: center;
    align-items: center;
    filter: drop-shadow(-1px 2px 1px #000000c0);
}


.title_landing .title_landing_word:nth-child(1){
    transform: rotate(10deg)
            translateX(5px)
            skew(-10deg)
            scale(1.15);
}

.title_landing .title_landing_word:nth-child(2){
    transform: rotate(10deg)
            translateY(15px)
            skew(5deg)
            scale(0.95);
}

.title_landing .title_landing_word:nth-child(4){
    transform:
            translateY(15px)
            skew(5deg, -15deg)
            scale(1.2);
}

.title_landing .title_landing_word:nth-child(5){
    transform:
            translateY(5px);
}

.title_landing .title_landing_word:nth-child(6){
    transform: rotate(-5deg)
            translateY(15px)
            translateX(-2px)
            skew(-2deg, -7deg);
}

.title_landing .title_landing_word:nth-child(7){
    transform: rotate(1deg)
            translateX(2px)
            skew(-2deg, -7deg);
}

.title_landing .title_landing_word:nth-child(8){
    transform: rotate(8deg)
            translateY(15px)
            translateX(-5px)
            skew(-2deg, -10deg);
}

.title_landing .title_landing_word:nth-child(9){
    transform: rotate(-5deg)
            translateY(1px)
            skew(3deg, -2deg);
}

.title_landing .title_landing_word:nth-child(10){
    transform: rotate(6deg)
            translateY(1px)
            translateX(-2px);
}

.title_landing .title_landing_word:nth-child(11){
    transform: rotate(-8deg)
            translateY(8px)
            translateX(-4px)
            skew(3deg, -8deg)
            scale(1.1)
}


.title_landing_word p{
    font-size: 70px;
    color: white;
    text-transform: uppercase;
    user-select: none
}


.judithContainer{
    height: 100vh;
    width: 100%;
    display: grid;
    justify-content: center;
    align-items: center;
    z-index: 7;
}

.judithContainer::after{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(140%);
    z-index: -1;
    content: "";
    width: 600px;
    height: 200px;
    background-image: url("/assets/landing/ink_stain.webp");
    background-size: 100% 100%;
}


.judithCanvas{
    width: 800px !important;
    height: 800px !important;
}

.newspaper_back{
    position: absolute;
    width: 540px;
    height: 600px;
    z-index: 0;
    top: 50%;
    transform: translate(0,-50%);
    pointer-events: none;
    user-select: none
}

.newspaper_back.second {
    height: 450px ;
    transform: translate(-5%,-65%);
}

.logo_sticker, .logo_grafitti{
    position: absolute;
    z-index: 2;
    aspect-ratio: 1;
    width: 190px;
    top: 50%;
    transform: translate(280,-40%) rotate(20deg);
    user-select: none;
}

.logo_grafitti{
    top: 50%;
    width: 200px;
    transform: translate(-240,-150%) rotate(-15deg);
}

.logo_pen{
    position: absolute;
    z-index: 1;
}

.logo_pen.right{
    top: 50%;
    transform: translateX(320%) translateY(-170%) rotate(20deg);
}

.logo_pen.left{
    top: 50%;
    transform: translateX(-330%) translateY(-30%) rotate(-20deg);
}



.corner_container{
    position: absolute;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.corner{
    position: absolute;
    width: 200px;
    height: 240px;
    z-index: -99;
}

.corner.top_left{
    top: 0;
    left: 0;
}

.corner.bottom_left{
    bottom: -20px;
    left: 0;
    transform: rotate(-90deg);
}

.corner.bottom_right{
    bottom: 0;
    right: 0;
    transform: rotate(180deg);
}

.corner.top_right{
    top: -20px;
    right: 0;
    transform: rotate(90deg);
}


.newrocker {
    font-family: var(--font-new-rocker);
    font-size: 50px !important;
}

.syne {
    font-family: var(--font-syne);
}

.bebasneue {
    font-family: var(--font-bebas-neue);
}

.archivoblack {
    font-family: var(--font-archivo-black);
}

.tiltprism {
    font-family: var(--font-tilt-prism);
}

.rubikglitch {
    font-family: var(--font-rubik-glitch);
}

.rubikdirt {
    font-family: var(--font-rubik-dirt);
    font-weight: normal !important;
}

.specialelite {
    font-family: var(--font-special-elite);
}

.inter {
    font-family: var(--font-inter);
}

.sansserif {
    font-family: sans-serif;
    font-weight: bold;
}

.sansseriflower {
    font-family: sans-serif;
    text-transform: lowercase !important;
    font-weight: bold;
}

.impact {
    font-family: Impact;
}

@media (max-width: 900px){
    
    html, body{
        width: 100%;
        max-width: 100%;
    }

    .landing{
        position: relative;
        width: 100%;
    }
    .judithCanvas{
    width: 600px !important;
    height: 600px !important;
    }

    .judithContainer::after{
        transform: translateX(-50%) translateY(100%);
        width: 450px;
    }

    .title_landing{
        transform: scale(0.8);
    }
    
    .section_landing{
        overflow: hidden;
    }

    .logo_sticker, .logo_grafitti{
        width: 150px;
        transform: translate(200,-10%) rotate(20deg);
    }

    .logo_grafitti{
        transform: translate(-200,-160%) rotate(-15deg);
    }

    .newspaper_back{
       width: 400px;
       height: 500px;
    }

    .newspaper_back.second{
        height: 420px;
    }

    .logo_pen.right{
        transform: translate(250%,-130%) rotate(10deg);
    }

    .logo_pen.left{
        transform: translate(-250%,-20%) rotate(-10deg);
    }
}

@media (max-width:700px){
    .title_landing{
        transform: scale(0.7);
    }
    
}

@media (max-width:600px){
    .title_landing{
        transform: scale(0.45);
    }
    .logo_sticker, .logo_grafitti{
        width: 100px;
        transform: translate(200,-10%) rotate(20deg);
    }

    .logo_grafitti{
        transform: translate(-150,-180%) rotate(-15deg);
    }

    .newspaper_back{
       width: 400px;
       height: 500px;
    }

    .newspaper_back.second{
        height: 420px;
    }

    .logo_pen.right{
        transform: translate(150%,-130%) rotate(10deg);
    }

    .logo_pen.left{
        transform: translate(-150%,-20%) rotate(-10deg);
    }
}